    <section data-ng-controller="HomeController">
    </section>

    <section>

        <div class="row">
            <div class="col-sm-12">
                <!--<form ng-submit="respCtrl.createResponse()">-->
                    <!--<div class="col-12">-->
                        <!--<textarea ng-model="respCtrl.responseText" id="myTextArea" placeholder="Enter your response here..." class="myTextArea"></textarea>-->
                    <!--</div>-->
                    <!--<div class="col-12">-->
                        <!--<button type="submit" class="btn btn-primary fullWidth">Submit</button>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </section>
