<section data-ng-controller="ResponsesController as respCtrl" data-ng-init="ready()">
    <div class="page-header">
        <h1>#3 Make a request already:)</h1>
    </div>
    <div class="col-md-12 form-horizontal">
        <form ng-submit="create()" class="form-group">
            <div class="col-md-12">
                <textarea ng-model="responseText" id="myTextArea" placeholder="Enter your response here..."
                          class="myTextArea"></textarea>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary fullWidth">Submit</button>
            </div>
        </form>
    </div>
</section>
